#loader
{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;	
	
	.bg{
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1;
		background-color: $BLACK;
	}

	.logo{
		width: 58px;
		height: 68px;
		position: absolute;
		left: 50%;
		top: 50%;
		z-index: 50;
		transform: translateX(-50%);
		transform: translateY(-50%);
		background-color: $WHITE;
		background-image: url(../images/intro/logo_w.png);
	}
}
	
	

			